<div class="auction-box z-depth-2">
  <div class="auction-box-header">
    <h5>Player Stats <a href="javascript:void(0);" ng-click="logOut()"><i class="material-icons light-blue-text right">power_settings_new</i></a> </h5>
  </div>
  <div class="auction-box-content">
    <div class="auction-box-content-pad">
      <p>Name:
        <span class="bold">{{ user.username }}</span>
      </p>
      <p>Coins:
        <span class="bold"> {{ user.coins }}</span>
      </p>
    </div>
  </div>
</div>